/*----------------------------------------------
--Banner
-----------------------------------------------  */
#slider-wrapper{
	display: table;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
	background-color: #000;
}

/*-- Vertically center --*/
.slider-content {
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 4;
	padding: 0 5%;
	background-color: transparent;
}

.slider-content h1 {
	line-height: 1.5;
	color: #fff;
	font-weight: 700;
	text-shadow: 1px 1px #000;
}

.slider-content h1 > span {
	display: block;
}

.slider-content h1 {
	font-size: 32px;
}
.slider-content h1 .date {
	font-size: 24px;
}

.slider-content h1 .host {
	font-size: 24px;
	line-height: 2;
}

.slider-content h1 .location {
	font-size: 18px;
}

.slider-content .button {
	margin-top: 1em;
}

@media screen and ( min-width: 480px ) {
	.slider-content h1 {
		font-size: 50px;
	}
	.slider-content h1 .date {
		font-size: 30px;
	}

	.slider-content h1 .host {
		font-size: 24px;
		line-height: 2;
		margin-top: 1em;
		padding-bottom: .75em;
	}

	.slider-content h1 .host img {
		display: block;
		width: 50%;
		max-width: 500px;
		background-color: rgba(255, 255, 255, 0.80);
		border: 2;
		padding: 0;
		margin: 0 auto;
	}

	.slider-content h1 .location {
		font-size: 18px;
	}

	.slider-content .button {
		margin-top: 2em;
	}
}

@media screen and ( min-width: 660px ) {
	.slider-content h1 {
		font-size: 60px;
	}
	.slider-content h1 .date {
		font-size: 36px;
	}

	.slider-content h1 .host {
		font-size: 28px;
		line-height: 2;
	}

	.slider-content h1 .location {
		font-size: 22px;
	}

	.slider-content .button {
		margin-top: 2em;
	}
}

@media screen and ( min-width: 760px ) {
	.slider-content h1 {
		font-size: 70px;
	}
	.slider-content h1 .date {
		font-size: 40px;
	}

	.slider-content h1 .host {
		font-size: 30px;
		line-height: 2;
	}

	.slider-content h1 .location {
		font-size: 25px;
	}

	.slider-content .button {
		margin-top: 2em;
	}
}


@media screen and ( min-width: 1000px ) {
	.slider-content h1 {
		font-size: 80px;
	}
	.slider-content h1 .date {
		font-size: 45px;
	}

	.slider-content h1 .host {
		font-size: 35px;
		line-height: 2;
	}

	.slider-content h1 .location {
		font-size: 30px;
	}

	.slider-content .button {
		margin-top: 2em;
	}
}


#slider-wrapper li {
	animation: imageAnimation 96s linear infinite 0s;
	backface-visibility: hidden;
	background-size: cover;
	background-position: center center;
	color: transparent;
	height: 100%;
	left: 0px;
	opacity: 0;
	position: absolute;
	width: 100%;
	z-index: 0;
}

@keyframes
imageAnimation {  0% {
	animation-timing-function: ease-in;
	opacity: 0;
}
 3% {
 animation-timing-function: ease-out;
 opacity: .9;
}
 7% {
 opacity: .9
}
 12% {
 opacity: 0
}
 100% {
 opacity: 0
}
}

#slider-wrapper ul > li:nth-child(1) {
	background-image: url('../../2019/images/slider/Geisel_Library-1600px.jpg');
}

#slider-wrapper ul > li:nth-child(2) {
  animation-delay: 8s;
  background-image: url('../../2019/images/slider/ucsd-aerial.jpg');
}

#slider-wrapper ul > li:nth-child(3) {
  animation-delay: 16s;
  background-image: url('../../images/slider/anant.jpg');
}

#slider-wrapper ul > li:nth-child(4) {
  animation-delay: 24s;
  background-image: url('../../images/slider/crowd-shot-jeremy.jpg');
}

#slider-wrapper ul > li:nth-child(5) {
  animation-delay: 32s;
  background-image: url('../../images/slider/jmw.jpg');
}

#slider-wrapper ul > li:nth-child(6) {
  animation-delay: 40s;
  background-image: url('../../images/slider/openedx-team.jpg');
}

#slider-wrapper ul > li:nth-child(7) {
  animation-delay: 48s;
  background-image: url('../../images/slider/nimisha.jpg');
}

#slider-wrapper ul > li:nth-child(8) {
  animation-delay: 56s;
  background-image: url('../../images/slider/reception.jpg');
}

#slider-wrapper ul > li:nth-child(9) {
  animation-delay: 64s;
  background-image: url('../../images/slider/reception-2.jpg');
}

#slider-wrapper ul > li:nth-child(10) {
  animation-delay: 72s;
  background-image: url('../../images/slider/sidebar.jpg');
}

#slider-wrapper ul > li:nth-child(11) {
  animation-delay: 80s;
  background-image: url('../../images/slider/reg-area.jpg');
}

#slider-wrapper ul > li:nth-child(12) {
  animation-delay: 88s;
  background-image: url('../../images/slider/msft.jpg');
}

/* Accordion Styles */
#plenaries button {
	background-color: transparent;
	display: block;
	padding: 0;
	margin: 0;
	box-shadow: none;
	width: 100%;
	text-align: left;
}

#plenaries button:focus, #plenaries button:hover {
	background: #f6f6f6;
	text-decoration: underline;
}

#plenaries .dashicons {
	width: auto;
	height: auto;
	font-size: inherit;
	vertical-align: bottom;
	margin-right: .5em;
}

#plenaries h3 {
	font-size: 20px;
}

#plenaries p {
	margin-left: 2.1em;
}
